/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;

  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-light.woff2') format('woff2'),
    url('../fonts/open-sans-light.woff') format('woff');
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;

  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-regular.woff2') format('woff2'),
    url('../fonts/open-sans-regular.woff') format('woff');
}

/* gilroy-extrabold */
@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;

  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/gilroy-extrabold.woff2') format('woff2'),
    url('../fonts/gilroy-extrabold.woff') format('woff');
}

/* gilroy-light */
@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;

  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/gilroy-light.woff2') format('woff2'),
    url('../fonts/gilroy-light.woff') format('woff');
}

/****************************** Разрешённые глобальные стили согласно критерию Д25  ******************************/
html {
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/****************************** Служебные стили ******************************/
.body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;

  margin: 0;
  padding: 0;

  letter-spacing: 0.15px;

  color: #000000;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.flex {
  display: flex;

  flex-wrap: wrap;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/**************************** БЭМ-блоки  ******************************/

/* БЭМ-блок: кнопка */
.button {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  position: relative;
  z-index: 1;

  display: inline-block;

  width: 220px;
  padding: 8px 0;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #000000;
  border: 0;
  background-color: transparent;
}

.button::before {
  position: absolute;
  z-index: -1;
  top: 50%;

  display: block;

  width: 100%;
  height: 8px;

  content: '';
  transform: translateY(-50%);

  background-color: #f0c52e;
}

.button:focus::before,
.button:hover::before {
  height: 100%;

  transition: height 0.5s linear;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* /конец БЭМ-блок: кнопка */

/* БЭМ-блок: логотип */
.logo-picture {
  display: block;

  width: 100%;
  max-width: 163px;
}

.logo-picture:hover,
.logo-picture:focus {
  opacity: 0.6;
}

.logo-picture:active {
  opacity: 0.3;
}

/* /конец БЭМ-блок: логотип */



/****************************** Шапка сайта header ******************************/
.header {
  padding: 38px 0 44px;
}

.header .container {
  position: relative;

  min-height: 295px;
  padding: 30px 60px 30px;

  background-color: #f7e296;
}

.header__logo {
  position: absolute;
  top: -24px;
  left: 58px;
}

.header__top {
  margin-bottom: 30px;

  align-items: baseline;
}

/* Форма поиска в шапке */
.header__search {
  position: relative;

  width: 100%;
  max-width: 445px;
  margin-right: 95px;
}

.header__search::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 50px;
  height: 50px;

  content: '';

  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

.header__input {
  line-height: 30px;

  position: relative;

  width: 357px;
  margin: 0;
  padding: 8px 0 8px 40px;

  opacity: 0.3;
  color: #000000;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.header__input:active,
.header__input:hover {
  color: #000000;
  border-bottom-color: #000000;
  outline: 0;
  opacity: 0.6;
}

.header__input:focus {
  opacity: 1;
}

/* кнопка поиска с наворотами  */
.button--search {
  font-weight: 400;
  line-height: 30px;

  visibility: hidden;

  padding: 8px 18px;

  cursor: pointer;
  text-transform: none;

  color: #000000;
  border: 2px solid #000;
  background-color: transparent;
}

.button--search:focus,
.button--search:hover {
  visibility: visible;

  color: #fff;
  background-color: #000000;
}

.button--search:focus {
  visibility: visible;
}

.button--search:active {
  visibility: visible;

  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.header__input:focus+.button--search {
  visibility: visible;
}

/* /конец Форма поиска в шапке */

/* служебное меню */
.header__user-menu {
  width: 100%;
  max-width: 499px;
}

.user-nav {
  justify-content: space-between;
}

.user-nav__item {
  width: 100%;
  max-width: 120px;

  text-align: right;
}

.user-nav__item:first-child {
  margin-right: 165px;

  text-align: left;
}

.user-nav__item:first-child .user-nav__link {
  padding-left: 27px;
}

.user-nav__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  position: relative;

  padding-left: 20px;

  color: #000000;
}

.user-nav__link:focus,
.user-nav__link:hover {
  opacity: 0.6;
}

.user-nav__link:active {
  opacity: 0.3;
}


.user-nav__link::before {
  position: absolute;
  left: 0;

  display: block;

  width: 30px;
  height: 30px;

  content: '';

  background-repeat: no-repeat;
  background-position: 0 50%;
}

.icon-user::before {
  background-image: url(../img/icons/user.svg);
}

.icon-compare::before {
  background-image: url(../img/icons/compare.svg);
}

.icon-cart::before {
  background-image: url(../img/icons/cart.svg);
}

.icon-plus {
  position: relative;
}

.icon-plus::after {
  position: absolute;
  top: 3px;
  right: -27px;

  width: 16px;
  height: 16px;

  content: '';

  opacity: 0.3;
  background-image: url(../img/icons/plus.svg);
}

/* /конец служебное меню */

/****************************** Главное меню сайта navigation ******************************/
.navigation__list {
  justify-content: flex-end;
}

.navigation__item {
  width: 100%;
  max-width: 15%;
}

.navigation__item:first-child {
  max-width: 250px;
  margin-right: 290px;
}

.navigation__item:last-child {
  margin-left: 32px;

  text-align: right;
}

.navigation__link {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;

  text-align: left;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: #000000;
}

.navigation__link:focus,
.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link:active {
  opacity: 0.3;
}

/* второй уровень меню */
.catalog-nav {
  position: absolute;
  z-index: 5;
  left: 0;

  display: none;

  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px 60px 36px;

  background-color: #f7e296;
}

.catalog-nav__list {
  flex-direction: column;

  width: 100%;
  max-width: 700px;
  max-height: 110px;

  justify-content: flex-start;
}

.catalog-nav__item {
  width: 100%;
  max-width: 185px;
  margin-right: 50px;
}

.catalog-nav__item--special {
  min-height: 110px;
  margin-left: -30px;
}

.catalog-nav__link {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;

  color: #000000;
}

.catalog-nav__link:focus,
.catalog-nav__link:hover {
  opacity: 0.6;
}

.catalog-nav__link:active {
  opacity: 0.3;
}

/* Показ дополнительного меню при наведении*/
.navigation__item:first-child:hover .catalog-nav,
.navigation__item:first-child>a:focus+.catalog-nav {
  display: flex;
}

/****************************** Слайдер slider ******************************/
.slider {
  position: relative;
  top: -155px;
}

.slider .container {
  position: relative;
}

/* БЭМ-Блок Слайд product-slide  */
.product-slide {
  display: none;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-slide.selected {
  display: flex;
}

.slider__list {
  list-style-type: decimal-leading-zero;

  counter-reset: li;
}

.slider__item {
  position: relative;

  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.slider__item:before {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 40px;
  font-size: 179px;
  font-weight: bold;
  font-weight: 900;
  line-height: 120%;

  position: absolute;
  top: -33px;
  right: 182px;

  display: inline-block;

  width: 50px;

  content: counters(li, '.', decimal-leading-zero);
  counter-increment: li;
  text-align: center;
  letter-spacing: 0.36px;

  color: #fff;
}

.product-slide__image {
  width: 100%;
  max-width: 565px;

  text-align: center;
}

.product-slide__info {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 530px;
}

.product-slide__info::after {
  font-size: 108px;
  font-weight: 500;
  line-height: 120%;

  position: absolute;
  top: -35px;

  content: '—';
  text-align: center;

  color: #fff;
}

.product-slide__title {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 56px;

  margin-top: 80px;
  margin-bottom: 18px;

  letter-spacing: 0.17px;

  color: #000000;
}

.product-slide__description {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  margin: 0;
  margin-bottom: 45px;
  padding-right: 35px;

  color: #464646;
}

.product-slide__button {
  margin-bottom: 45px;
}

/* Табличка характеристик*/
.product-slide__characteristics td {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;

  min-width: 148px;
  max-width: 170px;

  letter-spacing: 0.36px;

  color: #000000;
}

.product-slide__characteristics th {
  color: #464646;
  font-family: "Open Sans", 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}



/* Навигационные кнопки в слайдере  */
.slider__switch-list {
  position: absolute;
  top: 317px;
  right: 65px;
}

.slider__switch-item {
  font-size: 0;

  position: relative;

  width: 12px;
  height: 12px;
  margin: 0;
  margin-right: 18px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-image: url(../img/icons/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__switch-item.selected {
  z-index: 1;

  background-image: url(../img/icons/slider-button.svg);
}

/****************************** Популярные категории product-cat ******************************/
.product-cat {
  margin-top: -70px;
}

.product-cat__list {
  justify-content: space-between;
}

.product-cat__item {
  width: 100%;
  max-width: 160px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.product-cat__item:last-child {
  margin-right: 0;
}

.product-cat__image-wrap {
  position: relative;

  display: flex;

  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-color: #f7e296;

  justify-content: center;
  align-items: center;
}

.product-cat__link:hover .product-cat__image-wrap,
.product-cat__link:focus .product-cat__image-wrap,
.product-cat__link:active .product-cat__image-wrap {
  background-color: #f0c52e;
}

.product-cat__image-wrap:active .product-cat__image {
  opacity: 0.3;
}

.product-cat__image--special {
  position: absolute;
  bottom: 0;
}

.product-cat__title {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  color: #000000;
}


/****************************** Блок Преимущества advantages ******************************/
.advantages {
  margin-top: 25px;

  background: linear-gradient(to top, #e5e5e5 75%, #fff 25%);
}

.advantages .container {
  display: flex;

  padding-bottom: 69px;

  flex-wrap: wrap;
}

.advantages__link-list {
  width: 100%;
  max-width: 285px;
  padding-top: 77px;
  padding-bottom: 45px;

  border-right: 7px solid #000;
}

.advantages__button {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  max-width: 160px;

  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.advantages__link-item {
  margin-bottom: 25px;
}

.advantages__link-item.selected {
  width: 100%;
  max-width: 100%;

  background-color: #000000;
}

.selected .advantages__button {
  color: #f7e184;
  background-color: transparent;
}

.selected .advantages__button::before {
  display: none;
}

.advantages__button--active:active {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  letter-spacing: 2.15px;
  text-transform: uppercase;

  color: #f7e184;
  background-color: #000000;
}

.advantages__description {
  width: 100%;
  max-width: 695px;
  padding-top: 72px;
}

.advantages__item {
  position: relative;

  display: none;

  width: 100%;
  margin-left: 115px;
}

.advantages__item--active {
  display: block;
}

.advantages__details {
  max-width: 426px;
}

.advantages__title {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;

  margin: 0;
  margin-bottom: 30px;

  letter-spacing: 0.21px;

  color: #000000;
}

.advantages__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  padding: 0;

  color: #464646;
}

.advantages__details::after {
  position: absolute;
  top: 10px;
  right: 0;

  display: flex;

  content: '';

  justify-content: space-between;
}

.icon-delivery::after {
  content: url(../img/icons/delivery.svg);
}

.icon-warranty::after {
  content: url(../img/icons/warranty.svg);
}

.icon-credit::after {
  content: url(../img/icons/credit.svg);
}





/****************************** Перечень брендов product-brands ******************************/

/****************************** О нас about-us ******************************/

/****************************** Контакты contacts ******************************/

/****************************** Подвал сайта footer ******************************/

/****************************** Хлебные крошки breadcrumbs ******************************/

/****************************** Фильтр каталога filter ******************************/

/****************************** Список товаров каталога catalog ******************************/

/****************************** Модалка с формой обр. связи modal__write-us ******************************/

/****************************** Модалка с картой  modal__map ******************************/
